.hero
  width: 100vw
  height: 70vh
  overflow: hidden
  margin: 150px 0 0

  picture img
    object-fit: cover
    object-position: 50% 0

  .greetings
    position: absolute
    z-index: 1
    top: 33vh

.lax
  position: relative
  z-index: -1 !important


@media only screen and (min-width: 1980px)
  .hero
    picture img
      object-position: 0 25%
