.hero
  width: 100vw
  height: 70vh
  overflow: hidden
  margin: 7vw 0 0

  picture img
    object-fit: cover

  .greetings
    position: absolute
    z-index: 1
    top: 33vh

.lax
  position: relative
  z-index: -1 !important
