---
layout: layout/base.njk
---


<section class="hero lax">

  <picture>
    <source srcset="{{ featuredImage }}" media="(min-width: 769px)">
    <source srcset="{{ featuredImage }}?nf_resize=fit&w=1024" media="(min-width: 481px)">

    <img src="{{ featuredImage }}?nf_resize=fit&w=768" alt="{{ featuredImage }}" />
  </picture>

</section><!-- .hero -->

<section class="opener">

  <div class="wrapper">
    <h2 data="fade-up">{{title}}</h2>
    <p data="fade-up delay">
      {{ content | safe }}
    </p>
  </div><!-- .wrapper -->

</section>
