---
layout: layout/base.njk
---


<section class="hero lax">

  {% heroForPosts "{{featuredImage}}", "Sinnig-Immobilien - {{featuredImage}}" %}

</section><!-- .hero -->

<section class="opener">

  <div class="wrapper">
    <h2 data="fade-up">{{title}}</h2>
    <p data="fade-up delay">
      {{ content | safe }}
    </p>
  </div><!-- .wrapper -->

</section>
