---
title: Angebote

eleventyNavigation:
  key: Angebote
  order: 3

layout: layout/base.njk
---
<section class="hero lax">

  {% picture "sinnig-immobilien-kueche.jpg", "Sinnig-Immobilien Angebote"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 data="fade-up">Unsere <strong>Angebote</strong></h2>
    <p data="fade-up delay">
      Hier finden Sie unsere Immobilienangebote zum Kauf oder zur Miete. Gerne senden wir Ihnen ein ausführliches Exposé oder beraten Sie ganz unverbindlich persönlich.
      <br><br>
      <span class="bl" data="fade-up delay"><strong>Sprechen Sie uns einfach an!</strong></span>
    </p>
  </div><!-- .wrapper -->

</section>

<section class="posts">

</section>
