---
title: Danke

layout: layout/base.njk
---
<section class="danke spcr">

  <div class="wrapper">

    <div class="successMessage">

      <h2>{{ title }}! Wir haben Ihre Nachricht erhalten.</h2>
      <br><br>

      <h6>
        Wir werden uns umgehend um Ihr Anliegen kümmern und uns bei Ihnen melden.
      </h6>

    </div><!-- .successMessage -->


  </div><!-- .wrapper -->
