---
title: Willkommen

eleventyNavigation:
  key: Willkommen
  order: 1

layout: layout/base.njk
---
<section class="hero lax">

  <div class="wrapper">
    <h1 class="greetings wht" data="fade-up delay">
      Seit <strong>20 Jahren</strong>
      <br>Essen unser <strong>Revier</strong>
    </h1>
  </div><!-- .wrapper -->

  {% hero "sinnig-immobilien-in-essen.jpg", "Sinnig-Immobilien"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 data="fade-up">Auf der <strong>Ruhrhalbinsel</strong> zuhause</h2>
    <p data="fade-up delay">
      Eine Immobilie ist etwas sehr Persönliches. Ob Sie ein neues Zuhause suchen, Ihr aktuelles verkaufen oder vermieten möchten: Sie brauchen einen Partner, der Sie und Ihre Werte ernst nimmt. Wir von Thomas Sinnig Immobilien möchten dieser Partner sein. Unser Team aus Immobilienkaufleuten berät Sie einfühlsam und mit großer Fachkenntnis.
      <br><br>
      Wir gehen respektvoll und fair mit Ihnen und Ihrer Immobilie um, weil wir Sie als Mensch betrachten, nicht als Goldesel. Unsere berufliche Heimat ist die Ruhrhalbinsel. Hier kennen wir den Markt ganz genau, hier ist uns so ziemlich jede Straße geläufig. Aber auch in den urbanen Stadtteilen von Essen sind wir Zuhause.
      <br><br>
      Egal ob Verkäufer oder Käufer, Vermieter oder Mieter, beiden Seiten stehen wir als zuverlässiger und fairer Partner zur Seite. Lassen Sie sich deshalb von uns unverbindlich beraten.
      <br><br>
      <span class="bl" data="fade-up"><strong>Wir freuen uns auf Sie!</strong></span>
    </p>
  </div><!-- .wrapper -->

</section>

<section class="posts">

  <ul>
{%- for post in angebote -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>

</section>
