---
title: Maximilian Sinnig

eleventyNavigation:
  key: Maximilian Sinnig
  parent: Unternehmen
  order: 2

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "maximilian-sinnig_01.jpg", "Sinnig-Immobilien – Maximilian Sinnig"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 class="bld" data="fade-up">Maximilian Sinnig</h2>
    <h5 data="fade-up delay">Geschäftsführer <br>Immobilienkaufmann IHK / EBZ Bochum</h5>
    <br>
    <p data="fade-up delay">
      Auf die Idee in die Immobilienbranche einzusteigen kam ich  schon in jungen Jahren. Diese Motivation kam nicht zuletzt von meinem  Vater, der seit über 20 Jahren in der Immobilienwirtschaft tätig ist. Meine Ausbildung zum Immobilienkaufmann am EBZ Bochum habe ich im Jahr 2012  bei der Thomas Sinnig Immobilien GmbH begonnen und im Jahr 2015 erfolgreich abgeschlossen.  Seitdem habe ich mich auf die Vermietung und den Verkauf von Wohnimmobilien sowie deren Einwertung spezialisiert. <br><br>Kompetenzen:
      <br><br>
      <span class="bl"><strong>Immobilienbewertung</strong></span><br>
      <span class="bl"><strong>Verkauf Wohnimmobilien</strong></span><br>
      <span class="bl"><strong>Vermietung Wohnimmobilien</strong></span><br>
      <span class="bl"><strong>WEG-Verwaltung</strong></span><br>
      <span class="bl"><strong>Mietverwaltung</strong></span>
    </p>
  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Haben Sie <strong>Fragen?</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
