---
title: Mietverwaltung

eleventyNavigation:
  key: Mietverwaltung
  order: 5

layout: layout/base.njk
---
<section class="hero lax">

  <div class="wrapper">
    <h1 class="greetings hro_h wht" data="fade-up delay">
      Mietverwaltung
    </h1>
  </div><!-- .wrapper -->

  {% hero "mietverwaltung_01.jpg", "Sinnig-Immobilien - Mietverwaltung"%}

</section><!-- .hero -->

<section class="opener mietverwaltung">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 data="fade-up">Mietverwaltung ganz speziell <br>auf Ihre Bedürfe <strong>zugeschnitten</strong></h2>
    </div><!-- .item_01 -->

    <div class="item_02" data="fade-up">
      {% picture "mietverwaltung_02.jpg", "Sinnig-Immobilien - Mietverwaltung"%}
    </div><!-- .item_02 -->

    <div class="item_03 tline" data="fade-up delay">
      <p data="fade-up">
        Die Mietverwaltung ist im Gegensatz zur WEG Verwaltung gesetzlich nicht genauer definiert. Als professioneller Verwalter arbeiten wir für Sie ein Verwaltungskonzept aus, das ganz auf Sie und lhre Immobilie zugeschnitten ist.
      </p>
    </div><!-- .item_03 -->

    <div class="item_04">
      <h5 data="fade-up">Kommunikation ist die halbe Miete</h5>
      <p data="fade-up delay">
        Eine harmonische Mieterstruktur und eine gute Kommunikation zwischen Mieter und Verwalter sind aus unserer Sicht der Grundstein für eine zielorientierte Prozessbewältigung und gutes Vorankommen in den verschiedensten Bereichen der Mietverwaltung.
        Wir werden unseren Teil dazu beitragen.
      </p>
    </div><!-- .item_04 -->

  </div><!-- .wrapper -->

</section>

<section class="vorteile">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 class="wht bline" data="fade-up">Unsere Leistungen <br>als <strong>Mietverwaltung</strong></h2>
    </div><!-- .item_01 -->

    <div class="item_02">

      <ul id="vorteile_box">
        <li class="vorteile_box__items allgemeineBtn active" data="fade-up">Allgemeine <br><strong>Mietverwaltung</strong></li>
        <li class="vorteile_box__items kaufmaennischeBtn" data="fade-up delay">Kaufmännische <br><strong>Mietverwaltung</strong></li>
        <li class="vorteile_box__items technischeBtn" data="fade-up delay">Technische <br><strong>Mietverwaltung</strong></li>
      </ul>

    </div><!-- .item_02 -->

    <div class="item_03">

      <ul id="vorteile_content">
        <li class="allgemeine vorteile_content__items active" data="fade-up">

          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Kommunikation und Korrespondenz mit Eigentümern und Mietern
            </li>

            <li>
              Bearbeitung von Anliegen und Wünschen der Mieter
            </li>

            <li>
              Persönliche Beratung der Eigentümer am Telefon
            </li>

            <li>
              Abschluss von Mietverträgen
            </li>

            <li>
              Wohnungsübergaben und -abnahmen
            </li>

            <li>
              Schriftverkehr mit Behörden und Dienstleistern
            </li>

            <li>
              Aufstellung und Einhaltung der Hausordnung
            </li>

            <li>
              Bearbeitung von Versicherungsschäden
            </li>
          </ul>
        </li>

        <li class="kaufmaennische vorteile_content__items" data="fade-up">
          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Mietenpflege: Regelmäßige Prüfung der Mieteingange
            </li>

            <li>
              Erstellung der Heizkostenabrechnung veranlassen
            </li>

            <li>
              Abwicklung des gesamten Zahlungsverkehrs
            </li>

            <li>
              Erstellung der Einnahmen-/Ausgabenrechnung
            </li>

            <li>
              Durchführung der Mietanpassungen
            </li>

            <li>
              Kostenkontrolle (Versicherungen, Energielieferanten etc.)
            </li>

            <li>
              Auf Wunsch Bildung von Instandhaltungsrücklagen
            </li>
          </ul>
        </li>
        <li class="technische vorteile_content__items" data="fade-up">
          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Regelmäßige Objektbegehungen
            </li>

            <li>
              Überprüfung und Veranlassung von Wartungsarbeiten (TÜV, Fahrstühle, Brandschutz etc.)
            </li>

            <li>
              Ausschreibung, Vergabe und Überwachung von größeren Instandhaltungsarbeiten
            </li>

            <li>
              Verfolgung von Gewährleistungsansprüchen
            </li>

            <li>
              Veranlassen von Handwerkerleistungen
            </li>

            <li>
              Überwachung und Abnahme von Aufträgen
            </li>
          </ul>
        </li>
      </ul>

    </div><!-- .item_03 -->

  </div><!-- .wrapper -->

</section>

<section class="hausverwaltung">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 data="fade-up">Mehr als eine <strong>Hausverwaltung…</strong></h2>
    </div><!-- .item_01 -->


    <div class="item_02 tline" data="fade-up delay">
      <h5 data="fade-up">Makler und Verwalter in einem Haus - macht das Sinn?</h5>
      <p data="fade-up delay">
        Und wie! Auf Wunsch erarbeiten wir mit Ihnen gemeinsam ein Verwaltungskonzept, in dem längere Leerstände schon bald der Vergangenheit angehören. Wir übernehmen die Mietersuche und stellen Ihnen die vorgeprüften Bewerber für lhre Immobilie vor.
      </p>
    </div><!-- .item_02 -->

    <div class="item_03" data="fade-up">
      {% picture "mietverwaltung_04.jpg", "Sinnig-Immobilien - Mietverwaltung"%}
    </div><!-- .item_03 -->

    <div class="item_04">
      <h5 data="fade-up">Profitieren Sie von 25 Jahren Erfahrung</h5>
    </div><!-- .item_04 -->

    <div class="item_05" data="fade-up">
      {% picture "mietverwaltung_03.jpg", "Sinnig-Immobilien - Mietverwaltung"%}
    </div><!-- .item_05 -->

    <div class="item_06">
      <p data="fade-up delay">
        Wir stehen Ihnen als kompetenter Berater rund um das Thema Altbau- und Schadensanierung, Instandhaltung und Instandsetzung zur Verfugung. Durch mittlerweile weit über 100 durchgeführte Kernsanierungen von bestand-eignen Mehrfamilienhäusern, kennen wir nicht nur die Theorie, sondern die gelebte Praxis im Bauwesen. Profitieren Sie van unserem Know-how!
      </p>
    </div><!-- .item_06 -->

  </div><!-- .wrapper -->

</section>

{%- include "partials/anfrage_teaser.njk" -%}
