---
title: Mira Trumm

eleventyNavigation:
  key: Mira Trumm
  parent: Unternehmen
  order: 4

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "mira-trumm_03.jpg", "Sinnig-Immobilien – Mira Trumm"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 class="bld" data="fade-up">Mira Trumm</h2>
    <h5 data="fade-up delay">Selbstständiger Immobilienberater</h5>
    <br>
    <p data="fade-up delay">
      Während meiner Berufslaufbahn gesammelte Kompetenzen und Erfahrungswerte bilden die heutige Grundlage für meine erfolgreiche Tätigkeit im in der Immobilienwirtschaft.
      <br><br>
      Ich bearbeite eigene Immobilienobjekte aus dem Wohn- und Gewerbesegment und unterstütze die Thomas Sinnig Immobilien GmbH bei der Akquisition von Ein- und Mehrfamilienhäusern im Essener Süden für den eigenen Ankauf.
    </p>
  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Haben Sie <strong>Fragen?</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
