---
title: Mira Trumm

eleventyNavigation:
  key: Mira Trumm
  parent: Unternehmen
  order: 4

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "mira-trumm_03.jpg", "Sinnig-Immobilien – Mira Trumm"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 class="bld" data="fade-up">Mira Trumm</h2>
    <h5 data="fade-up delay">Immobilienkauffrau IHK / EBZ Bochum</h5>
    <br>
    <p data="fade-up delay">
      Nach erfolgreich abgeschlossener Ausbildung zur Immobilienkauffrau, bei einem der führenden Entwickler und Betreiber von Einkaufszentren, sowie langjähriger Beschäftigung im Property Management des Unternehmens, habe ich im Februar 2022 als Hausverwalterin bei der Thomas Sinnig GmbH begonnen.
      <br><br>Was mich an der WEG- und Mietenverwaltung fasziniert? Die Abwechslung! Jeder Eigentümer, jeder Mieter und  jede Immobilie sind individuell. Mir bereitet es Freude, die verschiedensten Aufgaben zu bewältigen, und für das ein oder andere objektspezifische Problem, eine Lösungen zu erarbeiten.
    </p>
  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Haben Sie <strong>Fragen?</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
