---
title: Referenzen

eleventyNavigation:
  key: Referenzen
  order: 6

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "sinnig-immobilien-in-essen.jpg", "Sinnig-Immobilien"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 data="fade-up">Unsere <strong>Referenzen</strong></h2>
    <p data="fade-up delay">
      Im Folgenden finden Sie einige Referenzen unserer glücklichen Kunden.
    </p>

  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up"><strong>Unsere aktuellen <strong>Angebote</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/angebote'" data="fade-up delay">Angebote ansehen</button>

  </div><!-- .wrapper -->

</section>
