---
title: Selina Fonseca-Valles

eleventyNavigation:
  key: Selina Fonseca-Valles
  parent: Unternehmen
  order: 1

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "Selina_Fonseca-Valles_03.jpg", "Sinnig-Immobilien – Selina Fonseca-Valles"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 class="bld" data="fade-up">Selina Fonseca-Schönert</h2>
    <h5 data="fade-up delay">Immobilienkauffrau IHK / EBZ Bochum</h5>
    <br>
    <p data="fade-up delay">
      Bereits während meiner Schulzeit habe ich mich für Immobilien interessiert und es stand für mich fest, dass ich nach dem Abitur gerne in diesem Bereich arbeiten möchte. Ein mehrwöchiges Praktikum verstärkte das Interesse und ich war von der Immobilienbranche im Allgemeinen und Thomas Sinnig Immobilien GmbH im Besonderen überzeugt. 2011 begann ich meine Ausbildung zur Immobilienkauffrau am EBZ Berufskolleg Bochum und unterstütze seit meinem erfolgreichem Abschluss im Jahr 2014 das Team von Thomas Sinnig Immobilien GmbH.
      <br><br>
      Ich bin im Essener Süden aufgewachsen und bin seit jeher fasziniert von der Schönheit und Vielfalt von Essen. Essen hat für jeden Wohngeschmack etwas zu bieten, ob ein kleines Zechenhaus oder lieber ein Haus mitten in der Natur,  es macht mir Spaß dabei zu helfen die individuellen Wohnwünsche zu realisieren. Im Unternehmen bin ich für Sie in folgenden Schwerpunkten tätig:
      <br><br>
      <span class="bl"><strong>Verkauf und Vermietung von Wohnimmobilien</strong></span><br>
      <span class="bl"><strong>WEG-Verwaltung</strong></span><br>
      <span class="bl"><strong>Mietenverwaltung</strong></span>
    </p>
  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Haben Sie <strong>Fragen?</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
