---
title: Thomas Sinnig

eleventyNavigation:
  key: Thomas Sinnig
  parent: Unternehmen
  order: 3

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "thomas-sinnig_03.jpg", "Sinnig-Immobilien – Thomas Sinnig"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 class="bld" data="fade-up">Thomas Sinnig</h2>
    <h5 data="fade-up delay">Geschäftsführender Gesellschafter - Firmengründer</h5>
    <br>
    <p data="fade-up delay">
      Anfang 1998 gründete ich die Firma Thomas Sinnig Immobilien mit den Schwerpunkten Vermietung- und Verkauf von wohnwirtschaftlich und gewerblich genutzten Immobilien. Dazu gehörte auch die Entwicklung von bebauten bzw. unbebauten Grundstücken sowie die Planung und Realisierung von Einfamilienhäusern im Essener Süden.
      <br><br>
      In den Folgejahren spezialisierten wir uns neben dem klassischen Maklergeschäft auf den Ankauf und die Entwicklung von Bestandimmobilien in guten Wohnlagen. Besonderes Augenmerk war und ist die Ruhrhalbinsel mit den naturnahen Ortsteilen Burgaltendorf, Heisingen, Kupferdreh/Byfang, Niederwenigern und Überruhr.
      <br><br>
      Aber auch in den urbanen Stadtteilen von Essen sind wir Zuhause.
      <br><br>
      Seit über 25 Jahre sind wir aktiver Bestandteil der Essener Immobilienwirtschaft- Dabei stehen wir unseren Kunden mit unserem Wissen, unserem Engagement und unserer Professionalität zur Verfügung. Unsere Unternehmensphilosophie ist gekennzeichnet von Respekt, Ehrlichkeit und Wertschätzung gegenüber jedermann,
      <br><br>
      ...seit 25 Jahren.
      <br><br>
      <span class="bl"><strong>Kaufmann in der Grundstücks- <br>und Wohnungswirtschaft IHK</strong></span><br>
      <span class="bl"><strong>Handwerksmeister im Wärme,- Kälte,- Schall,- <br> und Brandschutz - HWK Düsseldorf</strong></span><br>
    </p>
  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Haben Sie <strong>Fragen?</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
