---
title: Unternehmen

eleventyNavigation:
  key: Unternehmen
  order: 2

layout: layout/base.njk
---
<section class="hero lax">

  {% hero "team_01.jpg", "Sinnig-Immobilien Team"%}

</section><!-- .hero -->

<section class="opener ctr">

  <div class="wrapper">
    <h2 data="fade-up">Unternehmen</h2>
    <p data="fade-up delay">
      Bei Immobilien geht es nicht nur um graue Zahlen, sondern um echte Werte mit Seele. Das ist ein spannender Markt, der viel Einfühlungsvermögen fordert. Hier sind wir seit 1998 als Immobilienmakler in Essen eine feste Größe. Unser bestens ausgebildetes Team aus Immobilienfachleuten mit unterschiedlichen Schwerpunkten berät Sie ehrlich und fair zum marktgerechten Preis, gestaltet den gesamten Auftritt Ihrer Immobilie im Internet, wickelt professionell alle Termine für Sie ab und kümmert sich um rechtliche Belange und Unterlagen. Wir nehmen uns Zeit für Sie und Ihre Immobilie. Eine gute Erreichbarkeit ist dabei für uns selbstverständlich.
    </p>
  </div><!-- .wrapper -->

</section>

<section class="team">

  <div class="wrapper">

    <h2 class="ctr" data="fade-up">Das sind <strong>wir</strong></h2>

    <ul class="team_players">
      <li data="fade-up">
        {% picture "Selina_Fonseca-Valles_01.jpg", "Sinnig-Immobilien - Selina Fonseca-Valles"%}
        <span>
          <h6 class="bld">Selina Fonseca-Valles</h6>
          <p>Immobilienkauffrau <br>IHK / EBZ Bochum</p>
          <button class="btn" type="button" name="button" onclick="location.href='/selina-fonseca-valles'">Mehr erfahren</button>
        </span>
      </li>

      <li data="fade-up delay">
        {% picture "maximilian-sinnig_04.jpg", "Sinnig-Immobilien - Maximilian Sinnig"%}
        <span>
          <h6 class="bld">Maximilian Sinnig</h6>
          <p>Immobilienkaufmann <br>Geschäftsführer</p>
          <button class="btn" type="button" name="button" onclick="location.href='/maximilian-sinnig'">Mehr erfahren</button>
        </span>
      </li>

      <li data="fade-up">
        {% picture "thomas-sinnig_01.jpg", "Sinnig-Immobilien - Thomas Sinnig"%}
        <span>
          <h6 class="bld">Thomas Sinnig</h6>
          <p>Geschäftsführender<br>Gesellschafter</p>
          <button class="btn" type="button" name="button" onclick="location.href='/thomas-sinnig'">Mehr erfahren</button>
        </span>
      </li>

      <li data="fade-up delay">
        {% picture "mira-trumm_01.jpg", "Sinnig-Immobilien - Mira Trumm"%}
        <span>
          <h6 class="bld">Mira Trumm</h6>
          <p>Selbstständiger<br>Immobilienberater</p>
          <button class="btn" type="button" name="button" onclick="location.href='/mira-trumm'">Mehr erfahren</button>
        </span>
      </li>

    </ul>

  </div><!-- .wrapper -->

</section>

<section class="cta ctr">

  <div class="wrapper">

    <h2 data="fade-up">Unsere aktuellen <strong>Angebote</strong></h2>
    <button class="btn" type="button" name="button" onclick="location.href='/angebote'" data="fade-up delay">Kontaktieren Sie uns</button>

  </div><!-- .wrapper -->

</section>
