---
title: WEG-Verwaltung

eleventyNavigation:
  key: WEG-Verwaltung
  order: 5

layout: layout/base.njk
---
<section class="hero lax">

  <div class="wrapper">
    <h1 class="greetings hro_h wht" data="fade-up delay">
      WEG-Verwaltung
    </h1>
  </div><!-- .wrapper -->

  {% picture "weg-verwaltung_01.jpg", "Sinnig-Immobilien - WEG-Verwaltung"%}

</section><!-- .hero -->

<section class="opener weg-verwaltung">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 data="fade-up">Kompetentes <strong>Management</strong>.</h2>
    </div><!-- .item_01 -->

    <div class="item_02" data="fade-up">
      {% picture "team_02.jpg", "Sinnig-Immobilien - Team Gruppenbild"%}
    </div><!-- .item_02 -->

    <div class="item_03 tline" data="fade-up delay">
      <p data="fade-up">
        Wenn Sie auf der Suche nach einer kompetenten und modernen Hausverwaltung für Ihre gemeinschaftliche Liegenschaft sind, dann sind Sie hier richtig. Wir bieten Ihnen eine umfassende WEG-Verwaltung mit transparenter Kostenstruktur und klaren Geschäftsprozessen.
      </p>
    </div><!-- .item_03 -->

    <div class="item_04">
      <h5 data="fade-up">Optimale Mitverwaltung und individuelle Betreuung.</h5>
      <p data="fade-up delay">
        Die Grundlagen der professionellen WEG-Verwaltung sind die Zuverlässigkeit, die fachliche Kompetenz und die organisatorische Fähigkeit der Immobilienverwalter. Deshalb sorgen wir für eine kontinuierliche Weiterbildung unseres Teams, insbesondere weil sich im Immobilienrecht regelmäßig neue Rechtslagen ergeben.
      </p>
    </div><!-- .item_04 -->

  </div><!-- .wrapper -->

</section>

<section class="vorteile">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 class="wht bline" data="fade-up">Unsere Leistungen <br>als <strong>WEG-Verwaltung</strong>.</h2>
    </div><!-- .item_01 -->

    <div class="item_02">

      <ul id="vorteile_box">
        <li class="vorteile_box__items allgemeineBtn active" data="fade-up">Allgemeine <br><strong>WEG-Verwaltung</strong></li>
        <li class="vorteile_box__items kaufmaennischeBtn" data="fade-up delay">Kaufmännische <br><strong>WEG-Verwaltung</strong></li>
        <li class="vorteile_box__items technischeBtn" data="fade-up delay">Technische <br><strong>WEG-Verwaltung</strong></li>
      </ul>

    </div><!-- .item_02 -->

    <div class="item_03">

      <ul id="vorteile_content">
        <li class="allgemeine vorteile_content__items active" data="fade-up">

          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Kommunikation und Korrespondenz mit Eigentümern und Mietern
            </li>

            <li>
              Bearbeitung von Anliegen und Wünschen der Mieter
            </li>

            <li>
              Organisation und Durchführung der Eigentümerversammlung
            </li>

            <li>
              Sammlung und Umsetzung der Beschlüsse
            </li>

            <li>
              Aufstellung und Einhaltung der Hausordnung
            </li>

            <li>
              Erstellung und Verteilung von Rundschreiben und Aushangen
            </li>

            <li>
              Bearbeitung von Versicherungsschaden
            </li>
          </ul>
        </li>

        <li class="kaufmaennische vorteile_content__items" data="fade-up">
          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Erstellung und Prüfung von Wirtschaftsplänen
            </li>

            <li>
              Abrechnungen einschließlich Rechnungskontrolle und Belegprüfung
            </li>

            <li>
              Buchführung und Kontrolle aller Geldein- und Ausgänge
            </li>

            <li>
              Konsequentes Mahnwesen
            </li>

            <li>
              Erstellung der Jahresabrechnung inkl. Rücklagen
            </li>

            <li>
              Veranlassung von Heizkostenabrechnungen
            </li>

            <li>
              Abschluss und Prüfung von Verträgen
            </li>
          </ul>
        </li>
        <li class="technische vorteile_content__items" data="fade-up">
          <ul>
            <li>
              <svg class="badge" alt="Sinnig Immobilien">
                <use xlink:href="#badge"></use>
              </svg>
            </li>
            <li>
              Kontrolle der Liegenschaft durch regelmäßige Begehungen des Objekts
            </li>

            <li>
              Überwachung der ordnungsgemäßen Instandhaltung
            </li>

            <li>
              Verwaltung der Erhaltungsrücklagen
            </li>

            <li>
              Erstattung von Schadensmeldungen gegenüber Versicherungen
            </li>

            <li>
              Veranlassung von Schadensbeseitigungen durch Handwerker
            </li>
          </ul>
        </li>
      </ul>

    </div><!-- .item_03 -->

  </div><!-- .wrapper -->

</section>

<section class="hausverwaltung">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 data="fade-up">Aktiv Prozesse zur Kostenminimierung <br>und <strong>Wertsteigerung</strong>.</h2>
    </div><!-- .item_01 -->


    <div class="item_02 tline" data="fade-up delay">
      <p data="fade-up delay">
        Moderne Immobilienverwaltung bedeutet für uns Ihre Immobilie nicht nur zu verwalten, sondern aktiv Prozesse zur Kostenminimierung und Wertsteigerung zu gestalten.
        <br><br>
        Ihre Interessen werden mit denen Ihrer Miteigentümer, Ihrer Mieter und mit dem jeweiligen wirtschaftlichen Umfeld verbunden, wir moderieren und managen die unterschiedlichen Interessen und sind vor Ort präsent – immer da, wo sich Ihr Objekt befindet.
      </p>
    </div><!-- .item_02 -->

    <div class="item_03" data="fade-up">
      {% picture "weg-verwaltung_02.jpg", "Sinnig-Immobilien - Mietverwaltung"%}
    </div><!-- .item_03 -->

  </div><!-- .wrapper -->

</section>

{%- include "partials/anfrage_teaser.njk" -%}
