<section class="anfrage_teaser">

  <div class="wrapper grd">

    <div class="item_01">
      <h2 data="fade-up">Wir freuen uns auf <strong>Ihre Anfrage</strong></h2>
    </div><!-- .item_01 -->

    <div class="item_02" data="fade-up">
      {% picture "maximilian-sinnig_02.jpg", "Sinnig-Immobilien - Maximilian Sinnig"%}
    </div><!-- .item_02 -->

    <div class="item_03 tline" data="fade-up delay">
      <p data="fade-up">
        Gerne erstellen wir Ihnen ein kostenloses und unverbindliches Angebot. Nach Eingabe der Eckdaten Ihrer Immobilie erhalten Sie innerhalb von 72 Stunden eine E-Mail mit Ihrem persönlichen Verwaltervertragsentwurf.
        <br><br>
        Gerne stehen wir für Fragen und Anmerkungen bereits im Vorfeld telefonisch zur Verfügung!
      </p>
    </div><!-- .item_03 -->

    <div class="item_04">
      <h5 data="fade-up">Fordern Sie Ihr unverbindliches Angebot an!</h5>
      <button id="mietverwaltungAnfrage" class="btn" type="button" name="button" onclick="location.href='/kontakt'" data="fade-up delay">Jetzt Anfragen</button>
    </div><!-- .item_04 -->

  </div><!-- .wrapper -->

</section>
