<section class="posts_teaser">

  <div class="wrapper">

    <h3 data="fade-up">Unsere neuesten <strong>Angebote</strong></h3>

    <ul class="posts_teaser_list">
      {%- for post in collections.angebote.slice(0, 3) -%}
        <li class="posts_teaser_list__items" data="fade-up delay">
          <h6>{{ post.data.title }}</h6>

          <picture>
            <source srcset="{{ post.data.featuredImage }}" media="(min-width: 1025px)">
            <source srcset="{{ post.data.featuredImage }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
            <source srcset="{{ post.data.featuredImage }}?nf_resize=fit&w=768" media="(min-width: 481px)">

            <img src="{{ post.data.featuredImage }}?nf_resize=fit&w=480" alt="{{ post.data.featuredImage | title }}" />
          </picture>

          <button class="btn" type="button" name="button" onclick="location.href='{{ post.url | url }}'">Mehr erfahren</button>
        </li>
      {%- endfor -%}
    </ul>

  </div><!-- .wrapper -->

</section>
