<footer>

  <div class="wrapper">

    <div class="footer__info">

      <ul class="footer__links contact wht">
        <li>Sinnig Immobilien</li>
        <li><a class="wht link" href="tel:02016158888">(02 01) 6 15 88 88</a></li>
        <li>
          <a href="https://www.facebook.com/pg/ThomasSinnigImmobilien/" aria-label="Folgen Sie uns auf unserer Facebook Seite" rel="nofollow" target="_blank">
            <svg class="fb" alt="Quotation Marks">
              <use xlink:href="#fb"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="footer__links legal">
        <li><a class="wht link" href="/impressum">Impressum</a></li>
        <li><a class="wht link" href="/datenschutz">Datenschutz</a></li>
      </ul>


    </div>

  </div>

</footer>
