<header>

  <div class="wrapper">

    <div class="site-branding">
        <a id="corporate_logo" href="/" rel="home" title="Sinnig Immobilien" aria-label="Sinnig Immobilien">
          <svg class="logo" alt="Sinnig Immobilien">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div><!-- .site-branding -->

    {%- include "partials/navigation.njk" -%}

  </div><!-- .wrapper -->








</header>
