<header>

  <div class="wrapper">

    <div class="site-branding">
        <a id="logo" href="/" rel="home" title="" aria-label="">
          <svg class="logo" alt="Sinnig Immobilien">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div><!-- .site-branding -->

    {%- include "partials/navigation.njk" -%}
    
  </div><!-- .wrapper -->








</header>
